*{
	font-family: 'Lato' !important;
	letter-spacing: 0px;
}

body{
	position: absolute;
	width: 100%;
	height: 100%;
}

.hidden{
	display: none !important;
}

.container{
	float: left;
	width: 100%;
	height: auto;
}

.what-is{
	background-color: #fff;
}

.what-is .cloud{
	display: block;
	width: 93px;
	height: 65px;
	background-image: url('cloud.png');
	background-size: 93px 65px;
	margin: 64px auto;
}

.what-is .question{
	float: left;
	margin: 0 62px 0 100px;
	width: calc(100% - 162px);
	height: auto;
}

.what-is .question .first{
	float: left;
	text-align: left;
	color: #000;
	letter-spacing: 0.26em;
	font-size: 118px;
	font-weight: 900;
	margin-top: 19px;
}

.what-is .question .second{
	float: right;
	text-align: right;
	color: #000;
	letter-spacing: 0.26em;
	font-size: 118px;
	font-weight: 900;
	margin-top: 40px;
}

.what-is .first-answer{
	float: left;
	margin: 0 78px;
	width: calc(100% - 156px);
}

.what-is .first-answer .text{
	float: left;
	text-align: left;
	color: #000;
	font-size: 56px;
	letter-spacing: 0.02em;
	line-height: 77px;
	margin-top: 159px;
}

.what-is .second-answer{
	float: right;
	margin: 0 103px;
	width: calc(100% - 206px);
}

.what-is .second-answer .text{
	float: right;
	text-align: right;
	color: #000;
	font-size: 56px;
	letter-spacing: 0.02em;
	line-height: 77px;
	margin-top: 138px;
}

.the-cloud{
	background-color: #f9f9fe;
  margin-top: 161px;
	height: 371px;
}

.the-cloud .third-answer{
	float: left;
	width: 100%;
}

.the-cloud .third-answer .text{
	float: left;
	text-align: center;
	color: #000;
	font-size: 56px;
	letter-spacing: 0.02em;
	line-height: 85px;
	width: 100%;
	font-family: 'Miller';
	margin-top: 56px;
}

.comparative{
	background-color: #fff;
}

.comparative .title-row{
	float: left;
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 178px;
}

.comparative .title-row .old{
	float: left;
	font-size: 90px;
	color: #000;
}

.comparative .title-row .vs{
	float: left;
	font-size: 48px;
	color: #000;
	margin-top: 34px;
}

.comparative .title-row .new{
	float: left;
	font-size: 90px;
	color: #000;
	font-weight: 900;
}

.comparative .comparative-row{
	float: left;
	width: 100%;
}

.comparative .comparative-row .title{
	float: left;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 48px;
}

.comparative .first-photo .only-hover, .comparative .second-photo .only-hover{
	opacity: 0;
	transition: all 0.2s ease;
}

.comparative .first-photo .desc, .comparative .second-photo .desc{
	position: absolute;
	left: 0;
	top: 30%;
	font-size: 26px;
	color: #fff;
	font-weight: 900;
	width: 100%;
	text-align: center;
}

.comparative .first-photo .subdesc, .comparative .second-photo .subdesc{
	position: absolute;
	left: 0;
	top: 40%;
	font-size: 19px;
	color: #fff;
	width: 80%;
	text-align: center;
	line-height: 32px;
	margin-left: 10%;
	margin-right: 10%;
}

.mobile .comparative .first-photo .desc, .mobile .comparative .second-photo .desc{
	display: none;
}

.mobile .comparative .first-photo .subdesc, .mobile .comparative .second-photo .subdesc{
	display: none;
}

.comparative .first-photo:hover .only-hover, .comparative .second-photo:hover .only-hover{
	opacity: 1;
}

.comparative .first-photo:hover:before, .comparative .second-photo:hover:before{
	content: "";
	float: left;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	transition: all 0.2s ease;
}

.mobile .comparative .first-photo:hover:before, .mobile .comparative .second-photo:hover:before{
	display: none;
}

.comparative .first-photo, .comparative .second-photo{
	position: relative;
}

.comparative .syncing{
	margin-top: 99px;
}

.comparative .conflicted{
	margin-top: 101px;
}

.comparative .indexing{
	margin-top: 196px;
}

.comparative .tabs{
	margin-top: 99px;
}

.comparative .storage{
	margin-top: 203px;
}

.comparative .photo-container{
  display: flex;
  float: left;
  width: 100%;
  justify-content: space-around;
}

.comparative .syncing .first-photo{
	max-width: 600px;
	float: left;                
	background: url('syncing.gif') no-repeat;
	background-size: cover;
	width: 45%;
  margin-top: 36px;
}

.comparative .syncing .first-photo:after {
  padding-top: 112.25%;
  display: block;
  content: '';
}

.comparative .syncing .second-photo{
	f
	max-width: 600px;loat: right;                
	background: url('christianbale.gif') no-repeat;
	background-size: cover;
	width: 45%;
  margin-top: 36px;
}

.comparative .syncing .second-photo:after {
  padding-top: 112.25%;
  display: block;
  content: '';
}

.comparative .conflicted .first-photo{
	max-width: 600px;
	float: left;                
	background: url('syncing.gif') no-repeat;
	background-size: cover;
	width: 45%;
  margin-top: 36px;                 
}

.comparative .conflicted .first-photo:after {
  padding-top: 112.25%;
  display: block;
  content: '';
}

.comparative .conflicted .second-photo{
	max-width: 600px;
	float: right;                
	background: url('jimcarrey.gif') no-repeat;
	background-size: cover;
	width: 45%;
  margin-top: 36px;                  
}

.comparative .conflicted .second-photo:after {
  padding-top: 112.25%;
  display: block;
  content: '';
}

.comparative .indexing .first-photo{
	max-width: 600px;
	float: left;                
	background: url('syncing.gif') no-repeat;
	background-size: cover;
	width: 45%;
  margin-top: 36px;                 
}

.comparative .indexing .first-photo:after {
  padding-top: 112.25%;
  display: block;
  content: '';
}

.comparative .indexing .second-photo{
	
	max-width: 600px;float: right;                
	background: url('christianbale.gif') no-repeat;
	background-size: cover;
	width: 45%;
  margin-top: 36px;                  
}

.comparative .indexing .second-photo:after {
  padding-top: 112.25%;
  display: block;
  content: '';
}

.comparative .tabs .first-photo{
	max-width: 600px;
	float: left;                
	background: url('syncing.gif') no-repeat;
	background-size: cover;
	width: 45%;
  margin-top: 36px;                 
}

.comparative .tabs .first-photo:after {
  padding-top: 112.25%;
  display: block;
  content: '';
}

.comparative .tabs .second-photo{
	floa
	max-width: 600px;t: right;                
	background: url('christianbale.gif') no-repeat;
	background-size: cover;
	width: 45%;
  margin-top: 36px;                  
}

.comparative .tabs .second-photo:after {
  padding-top: 112.25%;
  display: block;
  content: '';
}

.comparative .storage .first-photo{
	max-width: 600px;
	float: left;                
	background: url('syncing.gif') no-repeat;
	background-size: cover;
	width: 45%;
  margin-top: 36px;                 
}

.comparative .storage .first-photo:after {
  padding-top: 112.25%;
  display: block;
  content: '';
}

.comparative .storage .second-photo{
	f
	max-width: 600px;loat: right;                
	background: url('jimcarrey.gif') no-repeat;
	background-size: cover;
	width: 45%;
  margin-top: 36px;                  
}

.comparative .storage .second-photo:after {
  padding-top: 112.25%;
  display: block;
  content: '';
}

.not-convinced-container{
	float: left;
	width: 100%;
	margin-top: 270px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.not-convinced-container .not-convinced{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 75px;
	color: #252525;
	letter-spacing: 0.02em;
}

.not-convinced-container .try-it{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 56px;
	color: #252525;
	letter-spacing: 0.02em;
	font-weight: 900;
	 margin-top: 21px;
}

.not-convinced-container .demo-button{
  padding: 0 12px;
  height: 60px;
  background-color: #252525;
  border-radius: 6px;
  margin: 96px auto 13px auto;
  cursor: pointer;
  min-width: 311px;
  min-height: 78px;
}

.not-convinced-container .demo-button-text{
  color: #fff;
  font-size: 29px;
  font-weight: bold;
  width: 100%;
  float: left;
  margin: 20px 0;
  cursor: pointer;
}

.not-convinced-container .demo-subtitle{
  font-size: 19px;
  color: #717171;
  font-weight: bold;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 100px;
}

.iOS .not-convinced-container .demo-subtitle{
  display: none;
}

.android .not-convinced-container .demo-subtitle{
  display: none;
}

.not-convinced-container .main-claim-link{
  margin: 0 auto;
  cursor: pointer;
}

.not-convinced-container .main-claim-link.iOS{
  display: none;
}

.not-convinced-container .main-claim-link.android{
  display: none;
}

.iOS .not-convinced-container .main-claim-link.desktop{
  display: none;
}

.iOS .not-convinced-container .main-claim-link.iOS{
  display: initial;
}

.android .not-convinced-container .main-claim-link.desktop{
  display: none;
}

.android .not-convinced-container .main-claim-link.android{
  display: initial;
}

.mobile-container{
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
}

.mobile-container.mobile-description{
	overflow: hidden;
}

.mobile-description.mobile-container .gif-desc, .mobile-description.mobile-container .gif-subdesc, .mobile-description.mobile-container .gif{
	display: inline-block;
}

.mobile-container .gif-desc{
	position: absolute;
	left: 0;
	top: 190px;
	font-size: 26px;
	color: #fff;
	font-weight: 900;
	width: 100%;
	text-align: center;
	z-index: 2;
	display: none;
}

.mobile-container .gif-subdesc{
	position: absolute;
	left: 0;
	top: 40%;
	font-size: 19px;
	color: #fff;
	width: 80%;
	text-align: center;
	line-height: 32px;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 2;
	display: none;
}

.mobile-container .gif{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.2s ease;
	left: 0;
	top: 0;
	z-index: 2;
	display: none;
	background-size: cover;
}

.mobile-container .gif:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	transition: all 0.2s ease;
	left: 0;
	top: 0;
}

/* 320px to 375px Iphone 5 */
@media(min-width:320px) and (max-width:375px){

	/* Mobile */
	.mobile .what-is .cloud {
    margin: 50px auto 27px !important;
	}
	.mobile .what-is .question .first{
		letter-spacing: 10px;
	}
	.mobile .what-is .question .second{
		letter-spacing: 10px;
	}
	.mobile .what-is .first-answer .text{
		font-size: 22px !important;
    line-height: 35.5px !important;
	}
	.mobile .what-is .second-answer .text {
		font-size: 22px !important;
    margin-top: 90px !important;
    line-height: 35.5px !important;
	}
	.mobile .the-cloud {
    height: 290px !important;
	}
	.mobile .the-cloud .third-answer .text {
    font-size: 25px !important;
    line-height: 39.5px !important;
    margin-top: 64px !important;
	}
	.mobile .comparative .title-row {
    margin-top: 90px !important;
	}
	.mobile .not-convinced-container .not-convinced {
    font-size: 32.5px !important;
    margin-top: 10px;
	}
}

/* 320px to 992px */
@media(min-width:320px) and (max-width:992px){

	/* Desktop */
	.what-is .question .first, .what-is .question .second{
		font-size: 45px;
	}
	.what-is .first-answer .text, .what-is .second-answer .text{
		font-size: 22px;
	}
	.what-is .second-answer .text{
		margin-top: 10px;
	}
	.the-cloud{
		margin-top: 48px;
	}
	.the-cloud .third-answer .text{
		font-size: 24px;
	}
	.comparative .title-row .old, .comparative .title-row .new{
    font-size: 38px;
	}
	.comparative .title-row .vs{
		margin-top: 14px;
    font-size: 24px;
	}
	.not-convinced-container {
    margin-top: 90px;
  }
  .not-convinced-container .not-convinced {
    font-size: 55px;
  }
  .not-convinced-container .try-it{
  	font-size: 42px;
  }
  .not-convinced-container .demo-button {
    margin: 60px auto 13px auto;
    min-width: 265px;
    min-height: 72px;
	}
	.not-convinced-container .demo-button-text {
    font-size: 24px;
	}

	/* Mobile */
	.mobile .what-is .cloud {
    margin: 64px auto 34px;
	}
	.mobile .what-is .question {
    margin: 0 2px 0 12px;
    width: calc(100% - 14px);
	}
	.mobile .what-is .question .first{
		font-size: 59px;
    word-wrap: break-word;
    line-height: 78.5px;
	}
	.mobile .what-is .question .second{
		font-size: 59px;
    word-wrap: break-word;
    line-height: 78.5px;
    margin-top: 1px;
	}
	.mobile .what-is .first-answer {
    margin: 0px 13px 0 19px;
    width: calc(100% - 32px);
	}
	.mobile .what-is .second-answer {
    margin: 0px 18px;
    width: calc(100% - 36px);
	}
	.mobile .what-is .first-answer .text{
		font-size: 28px;
    margin-top: 96px;
    line-height: 38.5px;
	}
	.mobile .what-is .second-answer .text {
		font-size: 28px;
    margin-top: 117px;
    line-height: 38.5px;
	}
	.mobile .the-cloud {
    margin-top: 84px;
    height: 355px;
	}
	.mobile .the-cloud .third-answer .text {
    font-size: 28px;
    line-height: 42.5px;
    margin-top: 94px;
	}
	.mobile .comparative .title-row {
    float: left;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 130px;
	}
	.mobile .comparative .title-row .vs {
    font-size: 15px;
    margin-top: 39px;
	}
	.mobile .comparative .title-row .old, .mobile .comparative .title-row .new {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
	}
	.mobile .comparative .comparative-row .title {
    font-size: 24px;
	}
	.mobile .comparative .photo-container {
    justify-content: space-between;
	}
	.mobile .comparative .syncing{
		margin-top: 64px;
	}
	.mobile .comparative .conflicted{
		margin-top: 64px;
	}
	.mobile .comparative .indexing{
		margin-top: 64px;
	}
	.mobile .comparative .tabs{
		margin-top: 64px;
	}
	.mobile .comparative .storage{
		margin-top: 64px;
	}
	.mobile .not-convinced-container .not-convinced {
    font-size: 37.5px;
	}
	.mobile .not-convinced-container .try-it {
    font-size: 28px;
	}
	.mobile .not-convinced-container .demo-button {
    min-width: 260px;
    min-height: 57px;
	}
	.mobile .not-convinced-container .demo-button-text {
    font-size: 18px;
	}
}

/* 992px to 1200px */
@media(min-width:992px) and (max-width:1200px){
	.what-is .question .first, .what-is .question .second{
		font-size: 75px;
	}
	.what-is .first-answer .text, .what-is .second-answer .text{
		font-size: 35px;
	}
	.the-cloud .third-answer .text{
		font-size: 40px;
	}
	.comparative .title-row .old, .comparative .title-row .new{
    font-size: 75px;
	}
	.comparative .title-row .vs{
		margin-top: 20px;
	}
	.not-convinced-container {
    margin-top: 90px;
  }
}